


.aside .button_image_medium_1{
    width: 303px;
    height: 237px;

    display: inline-block;
    background-color: white;

    border-radius: 15px 15px 15px 15px; 
    border: Opx solid transparent;

    box-shadow: 10px 12px 14px -13px rgba(0,0,0,0.75);
    
    cursor: pointer;
}

.aside .button_image_medium_2{
    width: 303px;
    height: 165px;

    display: inline-block;
    background-color: white;

    border-radius: 15px 15px 15px 15px; 
    border: Opx solid transparent;

    box-shadow: 10px 12px 14px -13px rgba(0,0,0,0.75);
    
    cursor: pointer;
}

.aside .button_image_medium_3{
    width: 303px;
    height: 196px;

    display: inline-block;
    background-color: white;

    border-radius: 15px 15px 15px 15px; 
    border: Opx solid transparent;

    box-shadow: 10px 12px 14px -13px rgba(0,0,0,0.75);
    
    cursor: pointer;
}

.aside .button_image_medium_4{
    width: 303px;
    height: 211px;

    display: inline-block;
    background-color: white;

    border-radius: 15px 15px 15px 15px; 
    border: Opx solid transparent;

    box-shadow: 10px 12px 14px -13px rgba(0,0,0,0.75);
    
    cursor: pointer;
}

.aside .button_image_medium_1 :hover{
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out ;
}

.aside .button_image_medium_2 :hover{
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out ;
}

.aside .button_image_medium_3 :hover{
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out ;
}

.aside .button_image_medium_4 :hover{
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out ;
}

.aside .button_image_medium_1 .image_cannebiere{
    width: 303px;
    height: 181px;

    background-position: center;
    background-size: cover; 

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.aside .button_image_medium_2 .image_cannebiere{
    width: 303px;
    height: 111px;

    background-position: top;
    background-size: cover; 

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.aside .button_image_medium_3 .image_cannebiere{
    width: 303px;
    height: 141px;

    background-position: top;
    background-size: cover; 

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.aside .button_image_medium_4 .image_cannebiere{
    width: 303px;
    height: 154px;

    background-position: top;
    background-size: cover; 

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.aside .button_image_medium_1 .label_medium{
    font-family: "Raleway";
    font-weight: 600;

    margin-left: 15px;
    margin-top: 20px;
}

.aside .button_image_medium_2 .label_medium{
    font-family: "Raleway";
    font-weight: 600;

    margin-left: 15px;
    margin-top: 20px;
}

.aside .button_image_medium_3 .label_medium{
    font-family: "Raleway";
    font-weight: 600;

    margin-left: 15px;
    margin-top: 20px;
}

.aside .button_image_medium_4 .label_medium{
    font-family: "Raleway";
    font-weight: 600;

    margin-left: 15px;
    margin-top: 20px;
}