
.button_preferences{
    font-family: "Raleway";
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    padding-top: 50px;
}

.button_preferences .titre_filtres{
    font-family: "Raleway-bold";
    font-weight: bolder;

    padding-right: 20px;
}

.button_preferences .button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent; 

    border-radius: 30px 30px 30px 30px;
    border: 2px solid #F2F2F2;

    padding-right: 20px;

}

.button_preferences .button .label{
    border: none;
    outline: none;

    cursor: pointer;    
}

.button_preferences .button:focus {
    outline: none;
}

.button_preferences .button .logo_filtres{
    display: flex;
    color: #0065FC;
    justify-content: center;
    align-items: center;

    padding: 15px 15px;
    border-radius: 50%;
    background-color: #DEEBFF;
}

.button_preferences .button .label{
    font-family: "Raleway-semibold";
    font-size: 18px;
    align-items: center; 
    background-color: transparent;   

    padding: 12px;
}

.button_preferences .button_mobile_1 {
    display: flex;
}

.button_preferences .button_mobile_2 {
    display: flex;
}