
.button_preferences{
    font-family: "Raleway";
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    margin-top: 50px;
}

.button_preferences .titre_filtres{
    font-family: "Raleway-bold";
    font-weight: bolder;

    margin-right: 20px;
}

.button_preferences .button_1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent; 

    border-radius: 30px 30px 30px 30px;
    border: 2px solid rgb(206, 195, 195);

    margin-right: 20px;
}

.button_preferences .logo_filtres{
    display: flex;
    color: blue;
    justify-content: center;
    align-items: center;

    padding: 15px 15px;
    border-radius: 50%;
    background-color: rgb(222, 237, 243);
    cursor: pointer;
}

.button_preferences .eco{
    font-family: "Raleway-semibold";
    font-size: 18px;
    align-items: center; 
    background-color: transparent;   

    padding: 12px;
}