

.footer_boxes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    font-size: 18px;

    background-color: rgb(252, 246, 246);

    padding-top: 20px;
    padding-bottom: 50px;
    padding-left: 50px;
    
    padding-top: 35px;
}

a:active{
    color: transparent;
}

a:visited{
    color: transparent;
}   

.footer_box_1 a{
    color: black;
    display: grid;

    text-decoration: none;

    padding-bottom: 10px;
    padding-right: 200px;
}