


@media screen and (max-device-width: 375px){
    
    body{
        width: 100%;
    }

    /* LOGO */
    .header_title .inscription{
        color: #0065FC;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        margin-top: 20px;
        margin-left: 10px;
    }

    .header_title .logo{
        margin-top: 0px;
        width: 150px;
    }

    /* NAV */
    .header_title .inscription{
        color: #0065FC;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        font-size: 16px;
        font-family: "raleway";
        font-weight: bold;

        width: 100%;
    }

    .header_title nav{
        display: flex;
        width: 100%;
        flex-direction: row;

        text-decoration: none;
        border-bottom: 3px solid rgb(52, 52, 243);
        
        color: #0065FC;

        margin-top: 20px;   
    }

    .header_title .hebergements{
        padding-bottom: 10px;
        border-bottom: 1px solid transparent;
    }

    .header_title a:hover{
        border-bottom: 8px solid red;
        color: #0065FC;
    }

    .header_title a{
        width: 50%;
        display: block;
        text-align: center;
        text-decoration: none;
        color: #0065FC;
    }

    .conteneur a{
        display: none;
    }

    .header_title{
        display: flex;
        flex-direction: column;

        width: 337px;
    }

    .header_head h1{
        font-family: "Raleway";
        font-weight: bold;
        font-size: 24px;
        margin-top: 10px;
        margin-bottom: 0px;;
    }
    
    .header_head h2{
        font-size: 16px;
        font-weight: lighter;
        margin-left: 1px;
        margin-top: 5px;
    }

    /* SEARCH BOX */
    .search_box{
        display: flex;      
        justify-content: flex-start;
        width: 100%;
    }
    
    .search_box .icon_search{
        width: 15%;
        background-color: rgb(214, 209, 209);
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
        border-left: 1px solid transparent;
    
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }
    
    .search_box .place_search{
        font-family: "Raleway";
        background-color: white;
        font-weight: bold;
        color: black;
        font-size: 18px;
        width: 70%;
    
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
    
        cursor: pointer;
    }
    
    .search_box .button_search{
        width: 15%;
        font-family: "Raleway";
        font-size: 18px;
        background-color: #0065FC;
        color: white;
        border-top: 1px solid #0065FC;
        border-bottom: 1px solid #0065FC;
        border-right: 1px solid #0065FC;
    
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    
        cursor: pointer;
    }
    
    .search_box .button_search:focus{
        outline: none;
    }

    /* FILTRES */
    .titres_filtres{
        font-family: "raleway-bold";
        font-weight: bold;
        display: grid;

        margin-top: 50px;
    }

    .bloc_1{
        display: flex;
    }

    .button_preferences{
        font-family: "Raleway";
        display: flex;

        margin-top: 10px;
    }

    .button_preferences .titre_filtres{
        font-family: "Raleway-bold";
        font-weight: bolder;
    }

    .button_preferences .button{
        background-color: transparent; 

        border-radius: 30px 30px 30px 30px;
        border: 2px solid #F2F2F2;

        margin-bottom: 15px;

    }

    .button_preferences .button .label{
        border: none;
        outline: none;

        cursor: pointer;    
    }

    .button_preferences .button:focus {
        outline: none;
    }

    .button_preferences .button .logo_filtres{
        color: #0065FC;

        border-radius: 50%;
        background-color: #DEEBFF;
    }

    .button_preferences .button .label{
        font-family: "Raleway-semibold";
        font-size: 18px;
        background-color: transparent;   
    }

    .desktop{
        display: none;
    }

}

@media screen and (min-device-width: 376px){

    .mobile{
        display: none;
    }
}
