


@media screen and (max-device-width: 375px){
    
    body{
        width: 100%;
    }

    .desktop{
        display: none;
    }

    /* LOGO */

    .header_title .logo_inscription{
        color: #0065FC;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        margin-top: 20px;
        margin-left: 10px;
        
    }

    .header_title .logo{
        margin-top: 0px;
        width: 150px;
    }

    /* NAV */

    .header_title .inscription{
        color: #0065FC;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        font-size: 16px;
        font-family: "raleway";
        font-weight: bold;

        width: 100%;
    }

    .header_title nav{
        display: flex;
        width: 100%;
        flex-direction: row;

        text-decoration: none;
        border-bottom: 3px solid rgb(52, 52, 243);
        
        color: #0065FC;

        margin-top: 20px;   
    }

    .header_title .hebergements{
        padding-bottom: 10px;
        border-bottom: 1px solid transparent;
    }

    .header_title a:hover{
        border-bottom: 8px solid red;
        color: #0065FC;
    }

    .header_title a{
        width: 50%;
        display: block;
        text-align: center;
        text-decoration: none;
        color: #0065FC;
    }

    .conteneur a{
        display: none;
    }

    .header_title{
        display: flex;
        flex-direction: column;

        width: 337px;
    }

    .header_head h1{
        font-family: "Raleway";
        font-weight: bold;
        font-size: 24px;
        margin-top: 10px;
        margin-bottom: 0px;;
    }
    
    .header_head h2{
        font-size: 16px;
        font-weight: lighter;
        margin-left: 1px;
        margin-top: 5px;
    }

    /* SEARCH BOX */

    .search_box{
        margin-top: 50px;
        height: 50px;
        width: 425px;
    
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    .search_box .icon_search{
        width: 50px;
        height: 50px;
        background-color: rgb(214, 209, 209);
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
        border-left: 1px solid transparent;
    
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    .search_box .place_search{
        font-family: "Raleway";
        display: block;
        flex: 1;
        height: 48px;
        background-color: white;
        font-weight: bold;
        outline: none;
        color: black;
        font-size: 18px;
    
        padding-left: 20px;
    
        border:0;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
    
        cursor: pointer;
    }
    
    .search_box .button_search{
        font-family: "Raleway";
        font-size: 18px;
        display: block;
        width: 135px;
        height: 52px;
        background-color: #0065FC;
        color: white;
    
        border:0;
        border-top: 1px solid #0065FC;
        border-bottom: 1px solid #0065FC;
        border-right: 1px solid #0065FC;
    
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    
        cursor: pointer;
    }
    
    .search_box .button_search:focus{
        outline: none;
    }

}

@media screen and (min-device-width: 376px){

    .mobile{
        display: none;
    }
}
