

.hide {
    display:none;
}

@media screen and (max-device-width: 375px){
    

    .bloc_page {
        width: 100%;
    }
    
    body{
        width: 100%;

        margin-top: 40px;
        margin-left: 0px;
    }

    /* header */

    .header_head {
        width: 95%;
    }

    .header_title .logo {
        align-items: center;
        margin: auto;
        margin-left: 20px;
    }

    .header_title {
        margin-bottom: 5px;
    }

    .header_head .inscription{
        color: #0065FC;
        display: flex;
        justify-content: flex-end;
        width: 100%;

        font-weight: bold;

        margin-top: 20px;
        margin-right: 10px;
    }

    .header_title a {
        text-decoration: none;
        color: black;
    }

    .header_head .conteneur {
        justify-content: space-around;
    }

    .header_head .conteneur a {
        color: black;
        border-bottom: 3px solid #ccc;
        padding-bottom: 10px;
        border-top: transparent;
        margin-left: -22px;

        flex: 1;
        padding-top: 20px;
        text-align: center;
    }

    .conteneur a.blu {
        color: #0065FC;
        border-bottom: 3px solid #0065FC;
    }

    .header_head .h1_h2 {
        margin-top: 30px;
        margin-left: 20px;
    }

    /* Search box */

    .search_box {
        width: 300px;
        margin: auto;
        margin-top: 20px;
    }

    .search_box .icon_search {
        width: 17%;
    }

    .search_box .place_search {
        width: 70%;
        color: black;
    }

    .search_box .button_search {
        width: 17%;
        border-radius: 15px 15px 15px 15px;
    }

    /* Filter */

    .button_preferences {
        margin-left: 20px;
    }

    .button_preferences .button {
        display: inline-flex;
    }

    .button_preferences .button_mobile_1 {
        display: flex;
        margin-bottom: 10px;
    }

    .button_mobile_2 .button {
        margin-bottom: 10px;
    }

    .button_mobile_3 .button {
        margin-bottom: 10px;
    }

    .button_mobile_2 {
        display: grid;
    }

    .button_mobile_3 {
        display: grid;
    }

    .info {
        margin-left: 20px;
    }

    /* Section POP & BNB */

    .section_box_pop_bnb {
        display: block;
    }

    /* Section POP */
    
    .box_grey_pop {
        width: 100%;
        border-radius: 0;

        box-shadow: none;
    }

    .box_grey_pop .titres_pop {
        margin-left: 0px;
        justify-content: space-between;
        margin-left: 20px;
        margin-right: 35px;
    }

    .box_grey_pop .button_image_medium{
        width: 320px;
    }

    

    .box_grey_pop .button_image_medium .star_logo {
        margin-left: 17px;
        font-size: 11px;
    }

    /* Section BNB */

    .section_box_bnb .box_grey_bnb {
        background-color: transparent;
        box-shadow: none;
    }

    .section_box_pop_bnb .box_grey_bnb .grid .button_image_large {
        width: 320px;
        height: 190px;
        box-shadow: 5px 7px 24px -20px rgba(0,0,0,0.75);
    }

    .box_grey_bnb .grid {
        display: block;
    }

    .box_grey_bnb .label_large {
        font-size: 16px;
        font-family: "Raleway-bold";
    
        margin-left: 15px;
        margin-top: 8px;
    }

    /* Section box play */

    .section_box_play {
        margin-left: 10px;
    }

    .section_box_play .grid_aside {
        display: grid;
    }

    .section_box_play .grid_aside .image_1 {
        width: 336px;
        height: 190px;

        margin-bottom: 20px;
    }
    .section_box_play .grid_aside .pic_image_1 {
        width: 336px;
        height: 135px;
    }

    .section_box_play .bloc_1 {
        margin: 0;
    }

    .section_box_play .bloc_2 {
        margin: 0;
    }

    /* Footer */

    .footer_boxes {
        display: block;
    }

    .label_box {
        margin-bottom: 40px;
    }

    .footer_box_1 a{
        color: black;
        font-size: 16px;
    
        margin-right: 0px;
    }

    .desktop {
        display: none;
    }
}

@media screen and (min-device-width: 376px){

    .mobile{
        display: none;
        }
}