


.search_box{
    margin-top: 50px;
    height: 50px;
    width: 425px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.search_box .icon_container{
    width: 50px;
    height: 50px;
    background-color: rgb(214, 209, 209);
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;

    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.search_box .input_search{
    font-family: "Raleway";
    display: block;
    flex: 1;
    height: 48px;
    background-color: white;
    font-weight: bold;
    outline: none;
    color: black;
    font-size: 18px;

    padding-left: 20px;

    border:0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.search_box .button_search{
    font-family: "Raleway";
    font-size: 18px;
    display: block;
    width: 135px;
    height: 52px;
    background-color: #0065FC;
    color: white;

    border:0;
    border-top: 1px solid #0065FC;
    border-bottom: 1px solid #0065FC;
    border-right: 1px solid #0065FC;

    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}